* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(23, 29, 47);
    color: white;
    font-family: consolas;
}

/* HEADER */
header {
    height: 10vh;
}
header h1 {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}
/* HEADER END */



/* NAVIAGTION BAR */
nav {
    background-color: #125252;
    width: 100%;
    padding: 10px;
    height: 2vh;
}
nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
nav a:hover {
    background-color: white;
    cursor: pointer;
    transition: background-color.5s ease-in-out;
    color:rgb(23, 29, 47)
}
/* NAVIGATION BAR END */


/* TABLE  */
.tambah {
    margin: auto;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
    background-color: #125252;
    justify-content: center;
    text-align: center;
}

.tambah:hover {
    background-color: white;
    cursor: pointer;
    transition: background-color.5s ease-in-out;
    color:rgb(23, 29, 47)
}

.tabel-container {
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    display: flex;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 4px solid #fff; /* mengatur border */
    padding: 8px; /* mengatur padding */
    text-align: left; /* mengatur align teks */
  }
  
  th {
    background-color: #576CBC; /* mengatur warna latar belakang header tabel */
    text-align: center;
    padding: 10px;
  }
  
  table a {
    color: white;
    text-decoration: none;
    
    
}
  table a:hover {
    background-color: white;
    cursor: pointer;
    transition: background-color.5s ease-in-out;
    color:rgb(23, 29, 47)
}

.id_barang { 
    display: none;
}

/* TABLE END */



/* MAIN CONTENT */
body h1 {
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    height: 50vh;
    width: 100%;
}
/* MAIN CONTENT END */


/* FORM BARANG */
.tombol {
    display: inline-block;
}
.judul {
    margin-top: 40px;
}
.container-form {
    margin: auto;
    /* background-color: #125252; */
    width: 60%;
}
.form {
    padding: 20px;
    position: relative;
    right: 50%;
    left: 35%;
}

/* FORM BARANG END */



/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    padding: 0px;
    width: 100%;
    background-color: #576CBC;
    color: #F0F0F0;
    text-align: center;
}